{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="container mt-5">
{% if 'payment' in request.GET.next %}
  <div class="process-indicator">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <span class="nav-link {% if request.resolver_match.url_name == 'order' %}active{% endif %} disabled">買い物かご</span>
    </li>
    <li class="nav-item">
      <span class="nav-link {% if not user.is_authenticated and request.resolver_match.url_name != 'order' %}active{% endif %} disabled">ログイン</span>
    </li>
    <li class="nav-item">
      <span class="nav-link disabled">注文確認</span>
    </li>
  </ul>
  </div>
{% endif %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Login</h2>
                    <form method="post" class="mt-4">
                        {% csrf_token %}
                        <div class="mb-3">
                            {% render_field form.login class="form-control" placeholder="メールアドレス" %}
                        </div>
                        <div class="mb-3">
                            {% render_field form.password class="form-control" placeholder="パスワード" %}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
